@import url(https://fonts.googleapis.com/css?family=Oswald);
html{
	background-color: #69D2E7; // 69D2E7 A7DBD8 E0E4CC F38630 FA6900
	text-align: left;
	margin left: 200px;
	font-family: 'Oswald', sans-serif;
}

h1{
	text-align: center;
}

#updateComment{
	font-size: 12px
}