@import url(https://fonts.googleapis.com/css?family=Oswald);
html{
	background-color: #ffffff;
	text-align: left;
	margin left: 200px;
	font-family: 'Oswald', sans-serif;
}

h1{
	text-align: center;
}

#updateComment{
	font-size: 12px
}